<br><br><br>
    <hr class="bg-info w-50 mt-4">
    <div class="container">
        <div class="row col-12">
            <div class="col-lg-4 col-xs-12 mt-5">
                <h2>MOHD DANISH</h2>
                <p>Stay Connected</p>
                
            </div>
            <div class="col-lg-4 col-xs-12 mt-5 mr-5">
                <h2>About me</h2>
                <p>I'm a software Engineer based in India.<br> I have been teaching myself about Software development to get a job in 
                    a respected firm preferably and hopeful to get a job in FAANG.</p>
            </div>
            <div class="col-lg-3 col-xs-12 mt-5">
                <h2>Contact Me</h2>
                <p>dkhan895@gmail.com</p>
                <p>9871551895</p>
                
            </div>
        </div>
    </div>
